SuperSmashPolls/obj/*

SuperSmashPolls/bin/*

.DS_Store

*.xnb

*.dll

*.exe

*.cache

Farseer Physics Engine 3.5/bin/x86/Debug/FarseerPhysics XNA.pdb

Farseer Physics Engine 3.5/bin/x86/Debug/FarseerPhysics XNA.pdb

Farseer Physics Engine 3.5/bin/x86/Debug/FarseerPhysics XNA.pdb

Farseer Physics Engine 3.5/obj/x86/Debug/FarseerPhysics XNA.pdb

SuperSmashPolls/SuperSmashPolls/bin/x86/Debug/FarseerPhysics XNA.pdb

SuperSmashPolls/SuperSmashPolls/bin/x86/Debug/SuperSmashPolls.pdb

SuperSmashPolls/SuperSmashPolls/obj/x86/Debug/SuperSmashPolls.pdb

*.pdb
*.suo
Farseer Physics Engine 3.5/bin/x86/Debug/FarseerPhysics XNA.pdb
*.pdb
*.pdb

*.xml

SuperSmashPolls/SuperSmashPolls/obj/x86/Debug/ContentPipeline-{705C56F8-1366-4AB9-8F3A-69C782C7EBED}.xml

SuperSmashPolls/SuperSmashPolls/obj/x86/Debug/ContentPipeline-{705C56F8-1366-4AB9-8F3A-69C782C7EBED}.xml

SuperSmashPolls/SuperSmashPolls/obj/x86/Debug/ContentPipeline-{705C56F8-1366-4AB9-8F3A-69C782C7EBED}.xml
*.TMP
*.cachefile
